body {
  background-color: #76a29f;
}

.app {
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  background-color: #a8d7bf; 
  height: 600px;
  width: 600px; 
  align-items: center;
  justify-content: center;
}

.score-section {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: #468c2c;
  color: #ffffff;
  font-size: 24px;
  align-items: center;
  padding: 20px;
  margin: 200px;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

#question-number {
  margin-bottom: 20px;
  font-size: 20px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(222, 161, 49);
  padding: 5px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 70%;
  font-size: 16px;
  color: #ffffff;
  background-color: #045657;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  margin: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #034d41;
  cursor: pointer;
}

.btn-start {
  background-color: #0f390f;
  width: 30%;
  margin: 20px;
  justify-content: center;
  border: none;
}

.btn-end {
  background-color: #962a2a;
  width: 30%;
  margin: 20px;
  justify-content: center;
  border: none;
}


.btn-try-again {
  background-color: #023605;
  width: 50px;
  margin: 30px;
  justify-content: center;
  border: none;
  }

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}